<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 badge badge-secondary mb-2">Courses</div>
      <div class="col-sm-6 mb-2"><button class="btn btn-success btn-sm" (click)="showCourses()">Go</button></div>
    </div>
    <div class="row">
      <div class="col-sm-6 badge badge-secondary mb-2">Entrusted Professional Activities</div>
      <div class="col-sm-6 mb-2"><button class="btn btn-success btn-sm" (click)="showEpa()">Go</button></div>
    </div>
    <div class="row">
      <div class="col-sm-6 badge badge-secondary mb-2">Presentations</div>
      <div class="col-sm-6 mb-2"><button class="btn btn-success btn-sm " (click)="showPresentations()">Go</button></div>
    </div>
    <div class="row">
      <div class="col-sm-6 badge badge-secondary mb-2">Posters</div>
      <div class="col-sm-6 mb-2"><button class="btn btn-success btn-sm" (click)="showPosters()">Go</button></div>
    </div>
    <div class="row">
      <div class="col-sm-6 badge badge-secondary mb-2">Articles</div>
      <div class="col-sm-6"><button class="btn btn-success btn-sm" (click)="showArticles()">Go</button></div>
    </div>
    
  </div>
  <div class="card-footer">
    
  </div>
</div>
