<img src="" alt="" class="bg"/>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6"><h2><span class="badge badge-default">{{HeaderText}}</span></h2></div>
          <div class="col-sm-6" *ngIf="showChangePasswordButton()">
            <button style="float:right"  
            type="button" 
            class="btn btn-warning" 
            (click)="showPasswordChange()">Change Password</button></div>
        </div>
      </div>
      <div  *ngIf="passwordDialoque()">
      <form #loginForm="ngForm" (ngSubmit)="login()" required>
        <div class="card-body" style="background-color: beige;">
          <div class="mt-5 mb-5">
            <div class="d-flex flex-row">
              <div class="p-2"><h4><span class="badge badge-secondary">UserName</span></h4></div>
              <div class="p-2"><input class="form-control mr-sm-2" name="UserName" placeholder="Name"
                [(ngModel)]="model.UserName" required /></div>
            </div>

            <div class="d-flex flex-row">
              <div class="p-2"><h4><span class="badge badge-secondary">Password</span></h4></div>
              <div class="p-2"><input class="form-control mr-sm-2" name="password" placeholder="PWD"
                type="password" [(ngModel)]="model.password" /></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0 " type="submit">Login</button>
        </div>
      </form>
    </div>
    <div *ngIf="!passwordDialoque()">
      <app-changePwd 
      [model]=model 
      (passwordChanged) = "passwordChanged($event)"
      (headertextChanged)="changeHeaderText($event)"></app-changePwd>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
  </div>
</div>












<!-- <form >
<div class="card">
    <div class="card-header"><h2><span>Please log in</span></h2></div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mb-1">
                    <div class="col-sm-6"><h4><span>User name</span></h4></div>
                    <div class="col-sm-6"><input type=text class=form-control [(ngModel)]="model.UserName"/></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><h4><span>Password</span></h4></div>
                    <div class="col-sm-6"><input type=password class=form-control [(ngModel)]="model.password"/></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 mt-1"><button type="submit" class="button button-default" (click)="login()">Login</button></div>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>
</form> -->
