<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Procedure</th>
            <th>Date</th>
            <th></th>
          </tr>
          <tr *ngFor="let pro of procedures">
            <td>{{pro.procedureId}}</td>
            <td>{{pro.description}}</td>
            <td>{{pro.dateOfSurgery | date : 'shortDate'}}</td>
            <td><a  (click)="testNav(pro.procedureId)" style='color:crimson'>Details</a></td> 
          </tr>
        </table>
      </div>
      
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
  
    </div>
  </div>
</div>





